@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  padding: 0 !important;
  font-family: 'Poppins';
}

html{
  min-height: 200vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f6f8ff;
}

none .navbar {  
  width: 100%;
}

.container-fluid{
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: min-content;
  font-size: 20px;
  z-index: 100000;
  padding: 0 105px;
  background-color: #2260e1;
  backdrop-filter: blur(5px);
}



.navbar-brand img {
  height: 60px;
  margin: 8px 0 8px 25px;
}

#navbarText ul li a{
  color: #f6f8ff !important;
  z-index: 10000000;
}

.container-fluid .navbar-text{
  margin-right: 25px;
  padding: 3px 10px  !important;
  color: #e9eff9 !important;
  border: 2px solid #e9eff9 !important;
  border-radius: 5px;
  transition: .2s;
}

.container-fluid .navbar-text:hover{
  background-color: #2260e1 !important;
  color: #f6f8ff !important;
  font-weight: 200;
  border: 2px solid #f6f8ff !important;
  transform: translateX(-4px);
  scale: 1.02;
  transition: .6s;
}

/* Estilização dos itens interagiveis dentro da navbar */
.container-fluid a {
  color: #2260e1 !important;
  margin-right: 2vw;
  font-weight: 400;
}
/* Alinhamento dos itens dentro da navbar */
.navbar-expand-lg .navbar-collapse {
}


/* Banner */
.banner{
  margin: 0 !important;
  width: 100% !important;
  height: 90vh;
  background-image: url("../assets/banner.png");
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: static;
}

.banner div{
  width: 33vw; 
  position: absolute;
  height: fit-content;
  margin: 50vh 0 0 60px; 
  justify-content: center; 
  display: flex; 
  flex-direction: column; 
  color: #f6f8ff; 
  font-size: 48px; 
  font-weight: 400; 
  line-height: 72px; 
  word-wrap: break-word; 
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

/* Sobre nós */

.container-fluid.text-center{
  position: static !important;
  background-color: #f6f8ff !important;
  margin: 125px 0 100px 0;
  width: 100vw !important;
  display: flex;
}
.row.row-cols-2{
  display: flex;
  justify-content: space-evenly;
}

.cardIndex span{
  font-size: 40px;
  font-weight: 400;
}

.cardIndex p{
    border: 2px solid #2260e1 !important;
    width: 80%;
    justify-self: center;
    margin-top: 20px;
    font-size: 35px;
    font-weight: 300;
    background-color: #2260e1;
    text-align: left;
    color: #f6f8ff;
    border-radius: 10px;
    padding: 10px !important;  
}

.cardIndex{
  color: #2e72d8 !important;
  margin: 0 auto;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: palevioletred;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #ED145B;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}

/* ---------------------- Aqui começam as alterações da tela de CADASTRO ---------------------- */
/* Div msg_senha: */
.msg_senha {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
  position: fixed;
  top: 50%;
  left: 73%;
  z-index: 999;
}

.check {
  display: flex;
  flex-direction: row;
  
  img {
    width: 20px;
    height: 20px;
    margin-right: 7px;
  }
}
/* ---------------------- Aqui terminam as alterações da tela de CADASTRO ---------------------- */