.barraPesquisa {
  gap: 2%;
}

.opcaoMonitores {
  color: #13347b;
  border: none;
  width: 70%;
  border-radius: 10px;
  gap: 2%;
  margin-right: 2%;
}

.botaoPesquisar {
  border: none;
  color: #13347b;
  border-radius: 10px;
  background-color: #ddf5f1;
  transition: transform ease 0.3s;
  font-weight: 500;
  width: 30%;
  display: block;
}

.botaoPesquisar:hover {
  background-color: #4169e1;
  border: none;
  color: #ddf5f1;
  transform: scale(1.03);
  font-weight: 500;
}

.botaoPesquisar2 {
  display: none;
}

#select1 {
  display: block;
}

#select2 {
  display: none;
}

.botaoAdicionarMonitor {
  text-decoration: none;
  background-color: #4169e1;
  color: #ddf5f1;
  border-radius: 10px;
  width: 200px;
  height: 32px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  transition: transform 0.3s ease;
}

.botaoAdicionarMonitor:hover,
.alertasGerados:hover,
.kpiMonitor:hover,
.kpiPicoRedeRuim:hover,
.kpiMonitorComponente:hover {
  transform: scale(1.03);
}

.page-item.active {
  border: none !important;
  border-radius: 10px;
  transition: ease 0.3s;
  outline: none !important;
  box-shadow: none !important;
}

.page-item.active:hover {
  border: none !important;
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}
.dt-paging-button {
  border: none !important;
}
.dt-paging-button:hover {
  background: none !important;
}

@media (max-width: 480px) {
  .container-fluid {
    margin-left: 15%;
    width: 80% !important;
    padding: 0 10px;
  }

  .barraPesquisa {
    min-width: 300px;
  }

  #select1 {
    display: none;
  }

  #select2 {
    display: block;
    font-weight: 500;
    width: 40px;
  }

  .botaoPesquisar {
    display: none;
  }

  .botaoPesquisar2 {
    display: block;
    border: none;
    color: #13347b;
    background-color: #ddf5f1;
    cursor: pointer;
    border-radius: 10px;
    min-width: 20%;
  }

  .botaoPesquisar2:hover {
    background-color: #4169e1;
    border: none;
    color: #ddf5f1;
    transform: scale(1.03);
    font-weight: 500;
  }

  .container {
    width: 100px;
    height: 20px;
  }
}

/* Dash de monitor específico */

.statusMonitorAtivo {
  color: #006300;
  background-color: #b4fabb;
  border-radius: 10px;
  padding: 2%;
  font-size: 14px;
  transition: transform 0.3s ease;
}

.statusMonitorInativo {
  color: #991616;
  background-color: #f5dddd;
  border-radius: 10px;
  padding: 2%;
  font-size: 14px;
  transition: transform 0.3s ease;
}

/* monitor específico */

.displayFlex {
  display: flex;
  gap: 2%;
}

.alertasGerados {
  display: flex;
  width: 500px;
  flex-direction: column;
  text-align: end;
  color: #991616;
  transition: ease 0.3s transform;
  cursor: pointer;
  padding: 2%;
  line-height: 0.1;
}

.linha-vertical {
  border-right: #f5f5f5 solid 2px;
}

.botaoConfig {
  border: none;
  background-color: white;
  color: #13347b;
  transition: transform 0.3s ease;
}

.botaoConfig2 {
  border: none;
  background-color: white;
  color: #13347b;
  transition: transform 0.3s ease;
  height: 40px;
  margin-left: 0.5%;
  border: #13347b 2px solid;
  border-radius: 10px;
}

.botaoConfig:hover,
.botaoConfig2:hover {
  transform: scale(1.03);
  color: #4169e1;
  border: #4169e1 2px solid;
}

.width100 {
  width: 700px;
  gap: 2%;
}

.modulosAtivos {
  width: 53% !important;
  margin-left: 21.5%;
  padding: 1% !important;
}

.atualizarCadastroComponentes {
  background-color: white;
  display: flex;
  justify-content: end;
}

.kpiMonitor {
  background-color: white;
  height: 240px;
  padding: 5%;
  width: 490px;
  border-radius: 10px;
  color: #13347b;
  transition: transform 0.3s ease;
  border-bottom: #13347b 4px solid;
}

/* status */

.selectPrincipal {
  background-color: transparent;
  border: #13347b 2px solid;
  border-radius: 10px;
  font-size: 18px;
  padding: 0.3%;
  font-weight: bold;
  width: 300px;
  cursor: pointer;
  color: #13347b;
  margin-bottom: 1%;
}

.selectComp {
  background-color: #f5f5f5;
  color: #13347b;
  font-size: 16px;
  border: none;
  transition: transform 0.3s ease;
}

.graficoRede {
  /* width: 1005px; */
  height: 500px;
}

#meuGrafico {
  height: 200px;
  color: #13347b;
}

.graficos {
  background-color: white;
  padding: 1%;
  height: 300px;
}

.kpiPicoRedeRuim {
  color: #991616;
  border-bottom: 4px solid #991616;
  background-color: white;
  padding: 2%;
  border-radius: 10px;
  width: 350px;
  height: 240px;
  transition: transform ease 0.3s;
}

.kpiMonitorComponente {
  color: #13347b;
  background-color: white;
  border-radius: 10px;
  padding: 2%;
  border-bottom: #13347b solid 4px;
  transition: transform ease 0.3s;
  width: 600px;
  height: 200px;
  gap: 2%;
}
